.container-xs {
  width: 600px;
  margin: 50px auto;
}

.container-items {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}

#container-entrada h2 {
  font-size: 22px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  margin-bottom: 30px;
}

.entrada {
  font-size: 32px;
  color: #062347;
  display: block;
  font-family: "Mulish", sans-serif;
  padding: 20px 0;
}

.botoes.centro {
  justify-content: center;
}

.botao.add {
  width: 50%;
}

#quadro {
  background-color: #efe8e8;
  height: 425px;
  width: 600px;
  margin: 0 auto;
  border-radius: 12px;
}

/* Usado pelo JavaScript */

.tela {
  background-color: aliceblue;
}

.aparece {
  display: block;
}

.esconde {
  display: none;
}

@media (max-width: 500px) {
  .container-xs {
    width: 400px;
    margin: 75px auto;
  }
  .container-items {
    justify-content: space-around;
  }
  .entrada {
    padding: 10px 10px;
  }
  #quadro {
    height: 275px;
    width: 375px;
  }
  .botao.add {
    width: 75%;
  }
}

@media (max-width: 400px) {
  .container-xs {
    width: 300px;
  }
  #container-entrada h2 {
    font-size: 18px;
  }
  #quadro {
    height: 250px;
    width: 300px;
  }
  .botao.add {
    width: 100%;
  }
}

/* @media (max-width: 1440px) {
  .container-xs {
    width: 900px;
  }
  .container-items {
    height: 675px;
  }
  .botao.add {
    font-size: 20px;
  }
  #container-entrada h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  .entrada {
    font-size: 52px;
    padding: 30px 40px;
  }
  #quadro {
    height: 550px;
    width: 900px;
  }
} */
